
body, td {
	color: #000000;
	font-size: 14px;
	font-family: Verdana, Helvetica, Arial;
}

.divider {
	background-color: #555555;
	height: 2px;
}

.weather h2 {
	margin-top: 0;
	margin-bottom: 8px;
	font-size: 18px;
}

.weather p {
	margin: 8px 0;
}

.weather img {
	border: solid 1px #777777;
}

.weather .duration {
	font-size: 11px;
	color: #555555;
}

#footer {
	font-size: 11px;
	color: #555555;
}

#footer a {
	color: #555555;
}