<!--<h1>Edit widgit</h1>-->

<!--<form id="edit-widgit" name="widgit">-->
  <!--<div class="field">-->
    <!--<label for="location"> location:</label>-->
    <!--<input type="text" name="location" id="location" value="<%= location %>" >-->
  <!--</div>-->

  <!--<div class="field">-->
    <!--<label for="temperature"> temperature:</label>-->
    <!--<input type="text" name="temperature" id="temperature" value="<%= temperature %>" >-->
  <!--</div>-->

  <!--<div class="actions">-->
    <!--<input type="submit" value="Update Widgit" />-->
  <!--</div>-->

<!--</form>-->

<!--<a href="#/index">Back</a>-->