<!--<h1>Listing widgits</h1>-->

<!--<table id="widgits-table">-->
  <!--<tr>-->
    <!--<th>Location</th>-->
    <!--<th>Temperature</th>-->
    <!--<th></th>-->
    <!--<th></th>-->
    <!--<th></th>-->
  <!--</tr>-->
<!--</table>-->

<!--<br/>-->

<!--<a href="#/new">New Widgit</a>-->