!!!
%html
  %head
    %title
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=320, target-densitydpi=device-dpi", name: "viewport"}/
    /[if gte mso 9]
      <style _tmplitem="698" >
      \.article-content ol, .article-content ul {
      margin: 0 0 0 24px;
      padding: 0;
      list-style-position: inside;
      }
      </style>
  %body
    %table#background-table{border: "0", cellpadding: "0", cellspacing: "0", width: "100%"}
      %tbody
        %tr
          %td{align: "center", bgcolor: "#ececec"}
            %table.w640{border: "0", cellpadding: "0", cellspacing: "0", style: "margin:0 10px;", width: "640"}
              %tbody
                %tr
                  %td.w640{height: "20", width: "640"}
                %tr
                  %td.w640{width: "640"}
                    %table#top-bar.w640{bgcolor: "#00707b", border: "0", cellpadding: "0", cellspacing: "0", width: "640"}
                      %tbody
                        %tr
                          %td.w15{width: "15"}
                          %td.w325{align: "left", valign: "middle", width: "350"}
                            %table.w325{border: "0", cellpadding: "0", cellspacing: "0", width: "350"}
                              %tbody
                                %tr
                                  %td.w325{height: "8", width: "350"}
                            .header-content
                              %webversion Web Version
                              %span.hide
                                  | 
                                = succeed "\u{a0}\u{a0}|\u{a0}" do
                                  %preferences{lang: "en"} Update preferences
                                %unsubscribe Unsubscribe
                            %table.w325{border: "0", cellpadding: "0", cellspacing: "0", width: "350"}
                              %tbody
                                %tr
                                  %td.w325{height: "8", width: "350"}
                          %td.w30{width: "30"}
                          %td.w255{align: "right", valign: "middle", width: "255"}
                            %table.w255{border: "0", cellpadding: "0", cellspacing: "0", width: "255"}
                              %tbody
                                %tr
                                  %td.w255{height: "8", width: "255"}
                            %table{border: "0", cellpadding: "0", cellspacing: "0"}
                              %tbody
                                %tr
                                  %td{valign: "middle"}
                                    %fblike
                                      %img{alt: "Facebook icon", border: "0", height: "14", src: "https://img.createsend1.com/img/templatebuilder/like-glyph.png", width: "8"}/
                                  %td{width: "3"}
                                  %td{valign: "middle"}
                                    .header-content
                                      %fblike Like
                                  %td.w10{width: "10"}
                                  %td{valign: "middle"}
                                    %tweet
                                      %img{alt: "Twitter icon", border: "0", height: "13", src: "https://img.createsend1.com/img/templatebuilder/tweet-glyph.png", width: "17"}/
                                  %td{width: "3"}
                                  %td{valign: "middle"}
                                    .header-content
                                      %tweet Tweet
                                  %td.w10{width: "10"}
                                  %td{valign: "middle"}
                                    %forwardtoafriend{lang: "en"}
                                      %img{alt: "Forward icon", border: "0", height: "14", src: "https://img.createsend1.com/img/templatebuilder/forward-glyph.png", width: "19"}/
                                  %td{width: "3"}
                                  %td{valign: "middle"}
                                    .header-content
                                      %forwardtoafriend{lang: "en"} Forward
                            %table.w255{border: "0", cellpadding: "0", cellspacing: "0", width: "255"}
                              %tbody
                                %tr
                                  %td.w255{height: "8", width: "255"}
                          %td.w15{width: "15"}
                %tr
                  %td#header.w640{align: "center", bgcolor: "#00707b", width: "640"}
                    %table.w640{border: "0", cellpadding: "0", cellspacing: "0", width: "640"}
                      %tbody
                        %tr
                          %td.w30{width: "30"}
                          %td.w580{height: "30", width: "580"}
                          %td.w30{width: "30"}
                        %tr
                          %td.w30{width: "30"}
                          %td.w580{width: "580"}
                            #headline{align: "center"}
                              %p
                                %strong
                                  %singleline{label: "Title"} ABC Widgets
                          %td.w30{width: "30"}
                %tr#twocolumn-content-row
                  %td.w640{width: "640"}
                    %table.w640{border: "0", cellpadding: "0", cellspacing: "0", width: "640"}
                      %tbody
                        %tr
                          %td.w15{bgcolor: "#e2e2e2", width: "15"}
                          %td#left-sidebar.w140{align: "left", bgcolor: "#e2e2e2", valign: "top", width: "140"}
                            %table.w140{border: "0", cellpadding: "0", cellspacing: "0", width: "140"}
                              %tbody
                                %tr
                                  %td.w140{height: "15", width: "140"}
                                %tr
                                  %td.w140{width: "140"}
                                    %p.toc-heading{align: "left"}
                                      %singleline TABLE OF CONTENTS
                                    %tableofcontents
                                      %table{border: "0", cellpadding: "0", cellspacing: "0"}
                                        %tbody
                                          %tr
                                            %td{width: "3"}
                                            %td{valign: "top"}
                                              %p.toc-item{align: "left"} •
                                            %td{width: "6"}
                                            %td{valign: "top"}
                                              %p.toc-item{align: "left"}
                                                %strong
                                                  %repeatertitle
                                %tr
                                  %td.w140{height: "15", width: "140"}
                            %table.w140{border: "0", cellpadding: "0", cellspacing: "0", width: "140"}
                              %tbody
                                %tr
                                  %td.w140{height: "15", width: "140"}
                                %tr
                                  %td.w140{width: "140"}
                                    .left-column-heading{align: "left"}
                                      %singleline{label: "Title"} IN OTHER NEWS
                            %repeater
                              %layout{label: "Text only"}
                                %table.w140{border: "0", cellpadding: "0", cellspacing: "0", width: "140"}
                                  %tbody
                                    %tr
                                      %td.w140{height: "15", width: "140"}
                                    %tr
                                      %td.w140{width: "140"}
                                        %p.left-column-subhead{align: "left"}
                                          %singleline{label: "Title"} Add a title
                                        .left-column-content{align: "left"}
                                          %multiline{label: "Description"} Enter your description
                              %layout{label: "Text with image"}
                                %table.w140{border: "0", cellpadding: "0", cellspacing: "0", width: "140"}
                                  %tbody
                                    %tr
                                      %td.w140{height: "15", width: "140"}
                                    %tr
                                      %td.w140{width: "140"}
                                        %p.left-column-subhead{align: "left"}
                                          %singleline{label: "Title"} Add a title
                                    %tr
                                      %td.w140{width: "140"}
                                        %img.w140{border: "0", editable: "true", label: "Image", width: "140"}/
                                    %tr
                                      %td.w140{height: "15", width: "140"}
                                    %tr
                                      %td.w140{width: "140"}
                                        .left-column-content{align: "left"}
                                          %multiline{label: "Description"} Enter your description
                          %td.w15{bgcolor: "#e2e2e2", width: "15"}
                          %td.w470{bgcolor: "#ffffff", valign: "top", width: "470"}
                            %table.w470{border: "0", cellpadding: "0", cellspacing: "0", width: "470"}
                              %tbody
                                %tr
                                  %td.w470{height: "30", width: "470"}
                            %table.w470{align: "left", border: "0", cellpadding: "0", cellspacing: "0", width: "470"}
                              %tbody
                                %tr
                                  %td.w30{width: "30"}
                                  %td.w410{width: "410"}
                                    %repeater
                                      %layout{label: "Text only"}
                                        %table.w410{border: "0", cellpadding: "0", cellspacing: "0", width: "410"}
                                          %tbody
                                            %tr
                                              %td.w410{width: "410"}
                                                %p.article-title{align: "left"}
                                                  %singleline{label: "Article Title", repeatertitle: "true"} Add a title
                                                .article-content{align: "left"}
                                                  %multiline{label: "Description"} Enter your description
                                            %tr
                                              %td.w410{height: "10", width: "410"}
                                      %layout{label: "Text with full-width image"}
                                        %table.w410{border: "0", cellpadding: "0", cellspacing: "0", width: "410"}
                                          %tbody
                                            %tr
                                              %td.w410{width: "410"}
                                                %p.article-title{align: "left"}
                                                  %singleline{label: "Article Title", repeatertitle: "true"} Add a title
                                            %tr
                                              %td.w410{width: "410"}
                                                %img.w410{border: "0", editable: "true", label: "Image", width: "410"}/
                                            %tr
                                              %td.w410{height: "15", width: "410"}
                                            %tr
                                              %td.w410{width: "410"}
                                                .article-content{align: "left"}
                                                  %multiline{label: "Description"} Enter your description
                                            %tr
                                              %td.w410{height: "10", width: "410"}
                                      %layout{label: "Text with right-aligned image"}
                                        %table.w410{border: "0", cellpadding: "0", cellspacing: "0", width: "410"}
                                          %tbody
                                            %tr
                                              %td.w410{width: "410"}
                                                %p.article-title{align: "left"}
                                                  %singleline{label: "Article Title", repeatertitle: "true"} Add a title
                                                %table{align: "right", border: "0", cellpadding: "0", cellspacing: "0"}
                                                  %tbody
                                                    %tr
                                                      %td.w30{width: "15"}
                                                      %td
                                                        %img.w220{border: "0", editable: "true", label: "Image", width: "220"}/
                                                    %tr
                                                      %td.w30{height: "5", width: "15"}
                                                      %td
                                                .article-content{align: "left"}
                                                  %multiline{label: "Description"} Enter your description
                                            %tr
                                              %td.w410{height: "10", width: "410"}
                                      %layout{label: "Text with left-aligned image"}
                                        %table.w410{border: "0", cellpadding: "0", cellspacing: "0", width: "410"}
                                          %tbody
                                            %tr
                                              %td.w410{width: "410"}
                                                %p.article-title{align: "left"}
                                                  %singleline{label: "Article Title", repeatertitle: "true"} Add a title
                                                %table{align: "left", border: "0", cellpadding: "0", cellspacing: "0"}
                                                  %tbody
                                                    %tr
                                                      %td
                                                        %img.w220{border: "0", editable: "true", label: "Image", width: "220"}/
                                                      %td.w30{width: "15"}
                                                    %tr
                                                      %td
                                                      %td.w30{height: "5", width: "15"}
                                                .article-content{align: "left"}
                                                  %multiline{label: "Description"} Enter your description
                                            %tr
                                              %td.w410{height: "10", width: "410"}
                                      %layout{label: "Image gallery"}
                                        %table.w410{border: "0", cellpadding: "0", cellspacing: "0", width: "410"}
                                          %tbody
                                            %tr
                                              %td.w195{valign: "top", width: "195"}
                                                %table.w195{border: "0", cellpadding: "0", cellspacing: "0", width: "195"}
                                                  %tbody
                                                    %tr
                                                      %td.w195{width: "195"}
                                                        %img.w195{border: "0", editable: "true", label: "Image", width: "195"}/
                                                    %tr
                                                      %td.w195{height: "10", width: "195"}
                                                    %tr
                                                      %td.w195{width: "195"}
                                                        .article-content{align: "left"}
                                                          %multiline{label: "Description"} Enter your description
                                                    %tr
                                                      %td.w195{height: "10", width: "195"}
                                              %td{width: "20"}
                                              %td.w195{valign: "top", width: "195"}
                                                %table.w195{border: "0", cellpadding: "0", cellspacing: "0", width: "195"}
                                                  %tbody
                                                    %tr
                                                      %td.w195{width: "195"}
                                                        %img.w195{border: "0", editable: "true", label: "Image", width: "195"}/
                                                    %tr
                                                      %td.w195{height: "10", width: "195"}
                                                    %tr
                                                      %td.w195{width: "195"}
                                                        .article-content{align: "left"}
                                                          %multiline{label: "Description"} Enter your description
                                                    %tr
                                                      %td.w195{height: "10", width: "195"}
                                  %td.w30{width: "30"}
                %tr
                  %td.w640{width: "640"}
                    %table.w640{border: "0", cellpadding: "0", cellspacing: "0", width: "640"}
                      %tbody
                        %tr
                          %td.w170{bgcolor: "#e2e2e2", height: "15", width: "170"}
                          %td.w470{bgcolor: "#ffffff", height: "15", width: "470"}
                %tr
                  %td.w640{width: "640"}
                    %table#footer.w640{bgcolor: "#043948", border: "0", cellpadding: "0", cellspacing: "0", width: "640"}
                      %tbody
                        %tr
                          %td.w30{width: "30"}
                          %td.w580.h0{height: "30", width: "360"}
                          %td.w0{width: "60"}
                          %td.w0{width: "160"}
                          %td.w30{width: "30"}
                        %tr
                          %td.w30{width: "30"}
                          %td.w580{valign: "top", width: "360"}
                            %span.hide
                              %p#permission-reminder.footer-content-left{align: "left"}
                            %p.footer-content-left{align: "left"}
                              %preferences{lang: "en"} Edit your subscription
                              |
                              %unsubscribe Unsubscribe
                          %td.hide.w0{width: "60"}
                          %td.hide.w0{valign: "top", width: "160"}
                            %p#street-address.footer-content-right{align: "right"}
                          %td.w30{width: "30"}
                        %tr
                          %td.w30{width: "30"}
                          %td.w580.h0{height: "15", width: "360"}
                          %td.w0{width: "60"}
                          %td.w0{width: "160"}
                          %td.w30{width: "30"}
                %tr
                  %td.w640{height: "60", width: "640"}