/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*= require font-awesome
*= require weather-icons
*= require_self
*= require_tree .
*/
@import 'bootstrap_importer';

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

p.alert{
  font-size: 2em;
  color: lightgray;
}

div#main {
  min-height: 100%;
  border-radius: 20px;
  padding: 0px 20px 20px 20px;
  margin-top: 100px;
  //  border-bottom: 1px solid;
  //  border-bottom-color: #ccc;
  //  border-bottom-color: rgba(255, 255, 255, 0.2);
  //  background-color: rgba(255, 255, 255, 0.2);
  //  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin-left: 0em;
}

body {
  text-align: left;
  font: 12px Arial, Helvetica, sans-serif;
  color: #000;
  background: #222;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  width: 760px;
  height: 500px;
  margin: 0 auto;
  background: url(http://share.stwrt.ca/blog/blue-pink-gradient.jpg) no-repeat center center fixed;
  background-size: cover;
}


main {
}

#wrapper {
  min-height: 100%;
  height: auto;
  margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
  padding: 0 0 60px;
}

div.container-fluid {
  height: 100%;
}

html, body {
  height: 100%;
  width: 100%
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* Header */

/**********************************/
/**********************************/
/****** Custom Navbar Color *******/
/**********************************/
/**********************************/

$bgDefault: #34495e;
//$bgHighlight    : #ea5435;
$bgHighlight: desaturate(darken($bgDefault, 5), 5%);
$colDefault: #ecf0f1;
$colHover: #ffbbbc;
$colHighlight: #6cdce0;
.btn {
//  background-color: $bgDefault !important;
//  border-color: $bgDefault !important;
}

.navbar {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  a#nav-home:hover {
    background-color: $bgHighlight;
  }
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight;
    }
  }
  .navbar-text {
    color: $colDefault;
  }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover, &:focus {
          color: $colHighlight;
        }
      }
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight;
    }
    .icon-bar {
      background-color: $colDefault;
    }
  }
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault;
    ul {
      a:hover {
        background-color: $bgHighlight;
      }
    }
  }
  .dropdown-menu {
    background-color: $bgDefault;
  }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight;
    }
  }
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight;
      }
    }
    > .active {
      > a, > a:hover, > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }
}

/************* Header *************/

a.dropdown-toggle {
  margin-right: 10px;
}

.navbar {
  p {
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 5px;
    margin-top: 10px;
  }
}

p.welcome-message {
  text-align: center;
  padding-left: 8em;
}

/* Footer */

footer {
  padding: 0px 0 10px 0;
  margin: auto;
  bottom: 80px;
  left: 0;
  position: absolute;
  right: 0;
  width: 95%;
  height: 100px;
  border-top: 1px solid $grayMediumLight;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.debug_dump {
  margin: auto;
  bottom: 10px;
  width: 90%;
  left: 0;
  position: absolute;
  right: 0;
  height: 150px;
  @include box_sizing;
}
