/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import 'bootstrap';


/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

#wrapper {
  min-height: 100%;
  height: auto;
//  height: 100%;
//  height: 700px;
  margin: 0 auto -60px; /* the bottom margin is the negative value of the footer's height */
  padding: 0 0 60px;
}

html {
//  overflow-y: scroll;
  height: 100%;

}

body {
  background: $gray-light !important;
  padding-top: 60px;
  height: 100%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* footer */

//.footer, .push {
//  height: 142px; /* .push must be the same height as .footer */
//}


footer {
  clear: both;
//  position: fixed;
//  bottom: -100px;
//  margin-top: 45px;
//  padding-top: 5px;
//  position: relative;
//  top: 100px;
  height: 60px;
  border-top: 1px solid $grayMediumLight;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.debug_dump {
//  position: fixed;
//  bottom: 100px;
  clear: both;
//  float: left;
  width: 100%;
//  margin-top: 45px;
  height: 50px;
  @include box_sizing;
}
