// Place all the styles related to the weather controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';
$grayMediumLight: #eaeaea;

.weather-info{
  padding-top: 20px;
}

.sub-text{
  //  float: right;

}

#wunderground-logo {
  margin-bottom: -15px;
  right: -30px;
}