@mixin ease-in-out($time) {
  -webkit-transition: all $time ease-in-out;
  -moz-transition: all $time ease-in-out;
  -ms-transition: all $time ease-in-out;
  -o-transition: all $time ease-in-out;
  transition: all $time ease-in-out;
}

#custom-widgets {
  height: 10em;
  margin-top: 1em;

  .widgets {
    background: #303030;
    color: white;
    text-align: center;
//    padding: 1.2em;
    text-transform: uppercase;
    height: 6em;
    line-height: 6em;
    margin-right: 2.5em;
    padding: 0px;
    &.last {
      margin-right: 0em;
    }
    span{
      display: inline-block;
      vertical-align: middle;
      line-height: 1em;
    }
  }

  .new-widget-buttons {
    @include ease-in-out(.2s);
    border-radius: 10px;
    margin-right: 1.25em;
    height: 3em;
    text-align: center;
    padding-top: .8em;
    font-size: 2em;
    &.last {
      margin-right: 0em;
    }
    &.icon-view {
      border: dotted white;
      color: white;
      opacity: 0;
      &.button-hover {
        opacity: 1;
      }
      form#addWidget {
        display: none;
        input {
          display: none;
        }
      }
    }
    &.form-view{
      color: white;
      background: #303030;
      opacity: 1;
      i {
        display: none;
      }
      form#addWidget {
        display: inline;
        input {
          display: inline;
        }
      }
    }
    form#addWidget{
      input{
        margin-left: 3px;
        width: 6em;
      }
    }
  }


}


