<!--<h1>Listing widgets</h1>-->

<!--<div class="row" id="widgets-row">-->
  <!--<tr>-->
    <!--<th>Location</th>-->
    <!--<th>Temperature</th>-->
    <!--<th></th>-->
    <!--<th></th>-->
    <!--<th></th>-->
  <!--</tr>-->
<!--</div>-->

<!--<br/>-->

<!--<a href="#/new">New Widget</a>-->