<i class="fa fa-plus"></i>
<form class="form simple_form center" id="addWidget" action="#" role="form">
    <div class="form-group">
        <label class='integer optional control-label sr-only' for="widget_zip_code">Keywords: </label>
        <input class="numeric integer optional form-control widget_zip_code" id="widget_zip_code" name="addWidget[zip_code]" placeholder="Zip Code" step="1">
        <!--<button id="add">Add</button>-->
    </div>
</form>